<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Alumnos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>

<body <div class="container">
	<h2>Carga de Alumnos</h2>
	<div>
		<form th:object="${alumno}" th:action="@{/cargarAlumno}" method="post">
			<label class="form-label" for="nombre">Nombre:</label>
			<input class="form-control" type="text" id="nombre" th:field="*{nombre}"><br>
			<label class="form-label" for="apellido">Apellido:</label>
			<input class="form-control" type="text" id="apellido" th:field="*{apellido}"><br>
			<label class="form-label" for="fechaNac">Fecha de Nacimiento:</label>
			<input class="form-control" type="date" id="fechaNac" th:field="*{fechaNac}"><br>
			<label class="form-label" for="dni">DNI:</label>
			<input class="form-control" type="number" id="dni" th:field="*{dni}"><br>
			<label class="form-label" for="direccionCalle">Calle:</label>
			<input class="form-control" type="text" id="direccionCalle" th:field="*{direccionCalle}"><br>
			<label class="form-label" for="direccionNumero">Número:</label>
			<input class="form-control" type="number" id="direccionNumero" th:field="*{direccionNumero}"><br>
			<label class="form-label" for="direccionBarrio">Barrio:</label>
			<input class="form-control" type="text" id="direccionBarrio" th:field="*{direccionBarrio}"><br>
			<label class="form-label" for="direccionCiudad">Ciudad:</label>
			<input class="form-control" type="text" id="direccionCiudad" th:field="*{direccionCiudad}"><br>
			<label class="form-label" for="direccionLocalidad">Localidad:</label>
			<input class="form-control" type="text" id="direccionLocalidad" th:field="*{direccionLocalidad}"><br>
			<label class="form-label" for="direccionCP">Código Postal:</label>
			<input class="form-control" type="number" id="direccionCP" th:field="*{direccionCP}"><br>
			<label class="form-label" for="telefono">Teléfono:</label>
			<input class="form-control" type="tel" id="telefono" th:field="*{telefono}"><br>
			<label class="form-label" for="correoElectronico">Email:</label>
			<input class="form-control" type="email" id="correoElectronico" th:field="*{correoElectronico}"><br>

			<input type="submit" value="Cargar Alumno">
			</form>
		</div>
	</div>
</body>

</html>